@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}

header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.gm{
    display: flex;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    align-items: center;
}
nav img{
    width: 86.041px;
    height: 40px;
    
}
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;

}
nav li a{
    text-decoration: none;
    color: #3C354F;

}
.youtube-tiktok{
    border-radius: 6px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    padding: 30px;
}
.game
{
    color: #FF42A5;
}

/* main item */

main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 15px;
}
.container{
    display: flex;
    justify-content: space-around;
}

.container-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 348px;
    height: 56px;
    
}
.container-item{
    text-align: left;
    font-size: 100px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.container .container1{
    position: absolute;
    text-align: center;
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
}
.para{
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.btn1{
    border:0px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    
}
.btn2{
    border:0px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}
.item2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.item2-1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.fun{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item2-2{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}
.item2-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.my-pic
{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    position: relative;

}
.my-pic .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff9f9;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .my-pic .btn:hover {
    background-color: black;
  }

  .feature{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
  }
  .section-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }
  .fe-con{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .feature-para{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .feature-img{
    height: 650px;
    border-radius: 8px;
  }
 .badge{
    position: relative;
    /* bottom: 300px; */
    /* margin-right: 90px; */
    top: -20rem;
    left: -10rem;
 }
  /* game part */

  .gm-sec{
    width: 1500px;
    padding: 100px;
    background-color: #FFF;
    margin-top: 30px;
  }
  .gm-tp{
    display:flex;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    gap:35px;
  }
  .gn-tps{
    display: flex;
    gap:24px;
    padding: 9px;
    width:250px;
    font:bold;
    border-radius: 40px;
  }
  .gn-tps:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
    cursor: pointer;
  }

  /* footer */

  footer{
    background-color: #0B0223;
}

  footer .fot-mark{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
footer .fot-mark .title{
    color: #FFF;
}

footer .uper-class ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    
}
footer .uper-class ul li{
    list-style: none;
}
.game1{
    color: #FFF;
}
footer .uper-class ul{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.icon img{
    width: 2rem;
    height: 2rem;
}
footer .lowest ul{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
footer .lowest ul li{
    list-style: none;
}
footer .lowest ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.all-right{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 7rem;
}
